<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" routerLink="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a [routerLinkActive]="['nav-is-active']" class="nav-link" routerLink="/cart" >Cart ({{count}})</a>
      </li>
      <li class="nav-item">
        <a [routerLinkActive]="['nav-is-active']" class="nav-link" routerLink="/orders">My Orders</a>

      </li>
    
    </ul>
    
  </div></div>
</nav>