
<div class="container">
    <div style="padding: 15px 0px; margin-bottom: 30px; background: #1c1c1b;" class="row align-items-center justify-content-between no-gutters">
        <div class="col-md-8">
            <h1 >Cart <span >({{totalQuantity}} items)</span></h1>
        </div>
        <div class="col-md-1">
            <span>US${{totalOrderPrice}}</span>
        </div>
            <div class="col-md-3">
            <button *ngIf=flagPush (click)="checkout()" type="button" class="btn btn-success button-primary ng-star-inserted" tabindex="0"> CHECKOUT </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <p *ngIf="flagOrder">Youv'e successfully made the order!</p>
    </div>

  

        <div class="row" *ngFor="let item of cart; let i = index">
            <div class="col-md-3"><img [src]="item.res.productImage" style="border-radius:5px; width:100%"/></div>
            <div class="col-md-3">
            <p>Name: {{item.res.productName | titlecase}}</p>
            <p>Quantity: {{item.qty}}</p>
            <p>Price: ${{item.res.productPrice}}</p>
        </div>
        <div class="col-md-3" style="text-align: center;">
            <input (keyup)= "flagPush=false;" (change)= "updateQuantity(item.res._id, qty.value); flagPush=true;" style="text-align: center;" type="number" #qty min="1"  value="{{item.qty}}"><br><br>
           <button type="button" class="btn btn-outline-primary" (click)="updateQuantity(item.res._id, qty.value)">Update</button>
        </div>

        <div class="col-md-3"><p>Total Price: ${{item.res.productPrice* item.qty}}</p></div>
        <hr style="margin-top: 15px; color: white;">
        </div>
      

  </div>

