/* You can add global styles to this file, and also import other style files */

body{ 
    background: #111;
}
p , span, h1{
color:white;
}
button{
    color:white;
}



.is-active{
    background: cornflowerblue;
    color:white;
}
.nav-is-active{
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 5px 0px;
}
a{
    text-decoration: none;
    color:#888;
}

.cx-total {
    background-color: #1c1c1b;
    font-size: 1.125rem;
    margin: 0 auto;
    padding: .9375rem 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
hr{
border: 0; clear:both; display:block; width: 100%; background-color:white; height: 1px;
}