/* You can add global styles to this file, and also import other style files */

body{ padding-top: 80px;
padding-left: 5%;
padding-right: 5%;
}
nav{
    padding-left: 5%;
padding-right: 5%;
}
.nav-link
{
    padding: 5px;
    color: white;
}
.is-active{
    background: cornflowerblue;
    color:white;
}
.nav-is-active{
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 5px 0px;
}
a{
    text-decoration: none;
}