<div class="container">
    <div class="row">
<p>Your Order Details Are:</p>
<span>OrderID: {{order._id}}</span>
<span>orderTotalPrice: ${{order.orderTotalPrice}}</span>
<hr>
    <div *ngFor="let item of order.orderDetails; let i = index">
        <span style="border-right: 1px solid #ccc!important;"> productName: {{item.res.productName | titlecase}} </span>
        <span style="border-right: 1px solid #ccc!important;"> Quantity: {{item.qty}} </span>
        <span style="border-right: 1px solid #ccc!important;"> Product Price: ${{item.res.productPrice}} </span>
</div>
</div>
</div>