<div class= "row" style="width: 100%; text-align: center;">
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="search..">
   <div class= "col-sm" style="border-radius: 10px; border: solid; border-width: 5px; border-color: black; display: inline-block; margin: auto; margin: 15px; background: grey; " *ngFor="let item of filteredProductList">
   <img style="width:240px; height: 180px" src= {{item.productImage}}><br>
   <p>{{item.productName}}</p>
   <p>{{item.productPrice}}$</p>
   Quantity: <input style="text-align: center;" type="number" #quantity name="quantity" value=1 min="1" max="5">
   <button (click)='addToCart(item, quantity.value)' style="width: 100%; background: green; color:white; padding:15px;">add to cart</button>
    </div>
    </div>

    <div style="width: 100%; text-align: center;">
        <p>My Orders - from MongoDB</p>
        <div *ngFor="let order of orders">
            {{order._id}}
            <div *ngFor="let c of order.orderDetails">
            {{c.productName}}
            {{c.qty}}
        </div>
        </div>
        <p>Cart- from LocalStorage</p>
        <div *ngFor="let t of test">
            {{t.name}} {{t.qty}}
    </div>
         </div>
        