<div class="container" style="padding-top: 30px;">
<div class= "row" >
    <div class= "col-md-2" style="padding:15px">
    <input #query (keyup)="searchProduct(query.value)" type="text" class="form-control" placeholder="search..">
    <div style="padding:5px 0px">
        <a  routerLink="/" >All Categories</a>
    </div>
    <div style="padding:5px 0px"  *ngFor="let c of categoryList">
        <a [routerLinkActive]="['is-active']"  routerLink="/" [queryParams]={category:c}>{{c | titlecase}}</a>
    </div>
</div>

    <div class= "col-md-10">
   <div *ngFor="let item of filteredProductList"  style="margin:15px; text-align: center; border-radius: 10px; border: solid; border-width: 5px; border-color: white; display: inline-block;  background: grey; " >
   <img style="width:240px; height: 180px" src= {{item.productImage}}><br>
   <p>{{item._id}}</p>
   <p>{{item.productName | titlecase}}</p>
   <p>${{item.productPrice}}</p>
   Quantity: <input style="text-align: center;" type="number" #quantity name="quantity" value=1 min="1" max="10">
   <button (click)="addToCart(item, quantity.value); openSnackBar('Added to cart', 'Close')" style="width: 100%; background: green; color:white; padding:15px;">Add to Cart</button>
    </div>
    </div>
</div>
</div>
    




  
  