<div class="container" style="padding-top: 30px;">
<div class= "row align-items-center" style="padding-bottom: 30px;" >
    <div class= "col-md-3">
    <input #query (keyup)="searchProduct(query.value)" type="text" class="form-control" placeholder="search..">
</div>
<div class= "col-md-2 text-center">
    <a  routerLink="/" >All Categories</a>
</div>
<div class= "col-md-2 text-center" *ngFor="let c of categoryList">
    <a [routerLinkActive]="['is-active']"  routerLink="/" [queryParams]={category:c}>{{c | titlecase}}</a>
</div>
</div>


<div class= "row row-eq-height" >
   <div class= "col-md-3" *ngFor="let item of filteredProductList"  >
    <app-card [item]=item></app-card>
    </div>
</div>
</div>
    

